/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    position:relative;
    width: 100%;
    margin:0px;
    padding:0px;
}

header {
  position: relative;
  padding: 30px;
}

header ul {
  position: relative;
  margin:0px;
  padding:0px;
  list-style: none;
}
header ul li{width: 200px;}


#svg {
    position:relative;
    width: 900px;
    margin:0 auto;
}

.axis {
   font: 10px sans-serif;
 }

 .axis path,
 .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }















